:root {
  --icon-primary: #5C94FF;
  --icon-secondary: #D4E8FF;
  --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  --mono-font: 'Share Tech Mono', monospace;
}

html {
  margin: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  line-height: 1.5;
  font-family: var(--body-font);
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-family: var(--mono-font);
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.15;
}

p {
  font-weight: 400;
}

a, a:visited {
 color: gray 
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subtitle {
  text-align: center;
  line-height: 1.5;
}

.full-span-column, .full-span-column ol {
  text-align: start;
}

ul li {
  margin-bottom: 0.3em;
}

.row.link {
  flex-direction: column;
}

.row.link > p {
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

.row.link > a {
  font-family: var(--mono-font);
  margin: 10px;
}

.row.profile-pic {
  margin: 40px;
}

.footer p {
  margin-top: 20px;
  font-family: var(--mono-font);
  font-size: 0.8rem;
}

/* Bit Icon */

.icon-grid {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-grid .col-xs-2 {
  justify-content: center;
  background: var(--icon-primary);
  height: 25px;
  width: 25px;
  margin: 2px;
  border-radius: 5px
}

/* Animate the top left square */

.icon-grid > .row:nth-child(1) > .col-xs-2:nth-child(1) {
  animation: load 1.2s ease-in-out infinite alternate;
}

@keyframes load {
  0% {
    background-color: var(--icon-secondary);
  }
  100% {
    background-color: var(--icon-primary);
  }
}



